@import "https://fonts.googleapis.com/css?family=Space+Mono";
html, body {
}
body {
  background: linear-gradient(132deg, #111111, #2e2e2e, #414141, #2e2e2e);
  background-size: 400% 400%;
  animation: BackgroundGradient 30s ease infinite;
}
@keyframes BackgroundGradient {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.day-header {
	background:green;
}
.laiks-th {
	padding-left:10px;
	padding-right: 10px;
	text-align:center;
	background:#bdc3c7;
	margin-top:5px;
	border-radius:10px;
}
.prieksmets-th {
	padding-left:100px;
	padding-right: 100px;
	
}
.kabinets-th {
	padding-left:10px;
	padding-right: 10px;
}
#saraksts {
	background:white;
	width:477px;
	padding:10px;
	border-radius:10px;
}